name: Build Package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  public:
     runs-on: ubuntu-latest
     steps:
     - uses: actions/checkout@v3
     - name: Checkout V3
   
     - uses: Menci/build-archlinux-package@beta-v1
     - name: Build Package
       with:
         docker-image: menci/aur-builder-archlinux:latest
         platform: linux/amd64
         pkgbuild-directory: /
         extra-build-dependencies: desktop-file-utils hicolor-icon-theme
         repo-url: # optional, default is 
         # Don't check if the existence of the target package even if `repo-url` option is specfied.
         force-rebuild: # optional, default is false
         # The target directory (on GitHub Action runner) to put the built package files to.
         target-directory: 
         # The value of "Packager" field of built package.
         packager: NovusOh
         # The file path to save the build log.
         build-log-file: /dev/null
