name: Build Package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
   build:
     runs-on: ubuntu-latest
     steps:
     - uses: actions/checkout@v3
     - name: Build Package
       uses: Menci/build-archlinux-package@beta-v1
       with:
         docker-image: menci/aur-builder:archlinux
         platform: linux/amd64
         extra-build-dependencies: desktop-file-utils hicolor-icon-theme
         # The value of "Packager" field of built package.
         packager: NovusOh
         # The file path to save the build log.
         build-log-file: /dev/null
